h1 {
  margin-top: 10px;
}

.container {
  /*display: inline;*/
  float: left;
  width: 590px;
}

.content {
  position: relative;
  float: right;
  width: 670px;
  height: 100%;
}

.gameBoard {
  float: right;
  position: relative;
  top: 0px;
  width: 670px;
  height: 670px;
}

.game-board-piece{
  position:relative;
  height: 67px;
  width: 67px;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.players-list {
  float: left;
  width: auto;
  position: relative;
  width: 290px;
}

.player-box {
  float: left;
  position: relative;
  width: 80px;
  height: 100px;
}

.player-label {
  height: 100px;
}

.player-name {
  display: inline;
  font-size: 30px;
}

.player-picture {
  float: right;
  posiiton: relative;
  width: 75px;
  height: 100px;
}

.player-piece{
  position: absolute;
  bottom: 1px;
}

#player1 {
  background-image: url('../images/boy1.png');
  background-repeat: no-repeat;
}

#player2 {
  background-image: url('../images/girl1.png');
  background-repeat: no-repeat;
}

#player3 {
  background-image: url('../images/boy2.png');
  background-repeat: no-repeat;
}

#player4 {
  background-image: url('../images/girl2.png');
  background-repeat: no-repeat;
}

/*#board1-player2.hidden {
  background-image: url('../images/girl2.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  z-index: 1;
}*/

.player1-piece{
  background-image: url('../images/boy1-board-colored.png');
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  z-index: 1;
}

.player2-piece{
  background-image: url('../images/girl1-board-colored.png');
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  z-index: 1;
  left: 10px;
}

.player3-piece{
  background-image: url('../images/boy2-board-colored.png');
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  z-index: 1;
  left: 20px;
}

.player4-piece{
  background-image: url('../images/girl2-board-colored.png');
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  z-index: 1;
  left: 30px;
}

.player {
  position: relative;
  float: left;
  top: 6px;
  width: 60px;
  height: 70px;
  left: 0px;
}

.hidden{
  background-image: none;
}

.starting-point{
  position: relative;;
  float: right;
  margin-top: 50px;
  width: 120px;
  height: 150px;
  border: 1px solid black;
}
